<!DOCTYPE html>
<html lang="en">
<%- include('./__head.ejs') %> 
<body>
    <% var blog = blog %> 
    <div class="container">
        <div class="d-flex align-items-center justify-content-between p-3 shadow">
            <h2 class="fs-4 fw-bold">A<span class="text-danger">sync</span></h2>
            <h2 class="fs-4 fw-bold"><a href="#" class="text-decoration-none text-dark">All Blog</a></h2>
        </div>

        <h1 class="fs-4 fw-bold mt-4">All blog Posts</h1>        
        <% if(blog){ %> 
            <% blog.forEach(item=>{ %> 
                <div class="card my-4" style="width: 50%;">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.title %> </h5>
                        <h6 class="card-subtitle text-muted mb-2"><%= item.time.toLocaleDateString() %> </h6>
                        <p class="card-text"><%= item.description.substr(0, 30) + '...' %> </p>
                        <a href="/blog/posts/<%= item.slug %> " class="btn btn-primary">Read more</a>
                        <a href="/blog/editBlog/<%= item.slug %> " class="btn btn-success ms-2">Edit</a>
                    </div>
                </div>
            <% }) %> 
        <% } else { %> 
            <h2>Loading...</h2>
        <% } %> 
    </div>
</body>
</html>